### 
## @Github: https://github.com/Certseeds/CS323_Compilers_2020F
## @Organization: SUSTech
## @Author: nanoseeds
## @Date: 2020-09-22 23:27:17
## @LastEditors: nanoseeds
## @LastEditTime: 2020-09-23 01:31:21
### 
*
!.gitignore
!data.pickle
!lex.l
!Makefile
!calc_test.py
!syntax.y
!CMakeLists.txt
!judge.sh